<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::link})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <title>首页</title>
</head>
<body>
<!--导航 ui组件 inverted反转颜色 attached 依附没有圆角-->
<!--快捷键div.ui.menu-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small m-opacity-mini">
    <!--调整位置-->
    <div class="ui container">
        <!--secondary改变样式 stackable可堆叠适应移动端-->
        <div class="ui inverted secondary stackable menu">
            <!--item加框 m-mobile-hide在@screen中生效，手机端隐藏 m-item只是方便获取-->
            <h2 class="ui teal header item">October</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <!--搜索框-->
            <div class="m-item right item m-mobile-hide">
                <!--icon添加图标-->
                <div class="ui icon input inverted ">
                    <input type="text" placeholder="Search...">
                    <!--link鼠标放上去有手的形状-->
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
        <!--自定义绝对布局 非手机端这个菜单按钮不显示 menu toggle 方便通过class获取这个元素-->
        <a href="#" class="ui menu toggle icon black button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </div>
</nav>
<!--中间内容，container没法改大小，只能外部改-->
<div id="waypoint" class="m-padded-tb-big m-container-da m-opacity-mini-1 ">
    <!--container有自适应的功能，最好用它来包裹元素，限制了上下-->
    <div class="ui container ">
        <!--header 头部-->
        <!--完成左右布局-->
        <div class="ui stackable grid">
            <!--左边的博客列表的内容-->
            <div class="eleven wide column">
                <!--top attached两个segment连在一起-->
                <div class="ui top attached segment">
                    <!--直接取两行，middle aligned垂直居中-->
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <!--靠右，自定义不换行m-inline-block-->
                        <div class="right aligned column">
                            共<h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}" >14</h2>篇
                        </div>
                    </div>
                </div>
                <!--content 中间内容-->
                <!--两个segment连在一起-->
                <div class="ui attached segment">
                    <!--设置边距padded，vertical两个相邻会加一条直线-->
                    <div class="ui padded vertical segment m-padded-tb-big m-padded-lr-responsive" th:each="blog : ${page.content}" >
                        <!--stackable mobile移动端显示在上面-->
                        <div class="ui middle aligned stackable mobile reversed grid" >
                            <div class="eleven wide column">
                                <h3 class="ui header center aligned "><a href="#" class="m-black" th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">境由心造</a></h3>
                                <p class="m-text" th:text="|${blog.description}......|">一个人的处境是苦是乐常是主观的。
                                    有人安于某种生活，有人不能。因此，能安于自已目前处境的，不妨就如此生活下去；
                                    不能的只好努力另找出路。 你的爱好就是你的方向，你的兴趣就是你的资本
                                    ，你的性情就是你的命运。各人有各人理想的乐园......</p>
                                <br>
                                <!--使用布局来做-->
                                <div class="ui grid m-margin-tb-tiny ">
                                    <!--左边的图标-->
                                    <div class="eleven wide column">
                                        <!--横向列表 mini整个缩小-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--头像-->
                                                <img src="../static/images/user1.png" th:src="@{/images/user1.png}" alt="" class="ui avatar image">

                                                <div class="content"><a href="#"  class="header" th:text="${blog.user.nickName}">陈振州</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon m-font-size-text-mini" ></i><span class="m-font-size-text-mini" th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2021-1-18</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> &nbsp;<span th:text="${blog.views}">686523</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--给多一点 right aligned靠右-->
                                    <div class="right aligned five wide column" >
                                        <!--m-padding-mini控制大小？-->
                                        <a href="#" th:href="@{/types/{id}(id=${blog.type.id})}" class="ui teal basic label m-padding-tiny m-text-thin" th:text="${blog.type.name}" >认知升级</a>
                                    </div>
                                    <div class="row">
                                        <div class="column">
                                            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic teal left pointing label m-padding-mini m-text-thin"
                                               th:each="tag : ${blog.tags}" th:text="${tag.name}" th:classappend="${tag.id==activeTagId} ? 'teal'">方法论</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--设置链接打开新网页-->
                            <div class="five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img src="https://picsum.photos/id/1005/800/450" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--bottom-->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid" >
                        <div class="column">
                            <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui teal mini basic button">上一页</a>
                        </div>
                        <!--靠右，自定义不换行m-inline-block-->
                        <div class="right aligned column">
                            <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui teal mini basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--右边的卡片的内容-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segments">
                    <!--secondary在segment上面加上灰色-->
                    <div class="ui secondary segment">
                        <!--使用两列的grid-->
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="ui teal segment">
                        <!--fluid填充-->
                        <div class="ui vertical fluid menu" >
                            <!--item的特性，在文字后加标签或者图标会放在最右边-->
                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type : ${types}">
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui teal basic label" th:text="${#arrays.length(type.blogs)}" >13</div>
                            </a>
                            <!--/*-->
                            <a href="#" target="_blank" class="item" >
                                <span >心情</span>
                                <div class="ui teal basic label">23</div>
                            </a>
                            <a href="#"  target="_blank" class="item" >
                                <span >音乐</span>
                                <div class="ui teal basic label" >18</div>
                            </a>
                            <a href="#"  target="_blank" class="item">
                                <span >认知</span>
                                <div class="ui teal basic label" >1</div>
                            </a>
                            <!--*/-->
                        </div>
                    </div>
                </div>

                <!--标签 使用segments多个segment可以连在一起-->
                <div class="ui segments m-margin-top-larger">
                    <div class="ui secondary segment">
                        <!--使用两列的grid-->
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/tags/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <!--detail在a内加其他文字-->
                        <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag :${tags}">
                            <span th:text="${tag.name}">方法论文</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                        </a>
                    </div>
                </div>


                <!--最新推荐-->
                <div class="ui segments  m-margin-top-larger">
                    <div class="ui secondary  segment ">
                        <i class="bookmark icon"></i>最新推荐
                        <div  class="ui segment teal rounded column attached m-margin-top  center aligned" th:each="blog : ${recommendBlogs}">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-teal m-text-thin " th:text="${blog.title}">用户故事(User Story)</a><br/>
                        </div>
                    </div>
                </div>

                <!--二维码-->
                <h4 class="ui horizontal divider header m-margin-top-larger teal">扫码关注我</h4>
                <!--centered居中-->
                <div class="ui centered card" style="width: 10em">
                    <img src="../static/images/Qr%20code.jpg" th:src="@{/images/Qr code.jpg}" alt="" class="ui rounded image">
                </div>
            </div>
        </div>

        <!--列表-->
    </div>
</div>

<!--竖直工具按钮组，文章目录和回到最顶部-->
<!--外层加上div控制不要紧贴右边-->
<div id="toolbar" class="m-padding m-fix m-right-bottom" >
    <!--m-fix m-right-bottom指定绝对位置,浮在最上面-->
    <div class="ui vertical icon buttons">
        <div id="button-toTop" class="ui icon button orange"><i class="angle up icon"></i></div>
    </div>
</div>

<!--底部 segment片段 vertical垂直-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive m-opacity-mini">
    <!--所有格子的内容居中-->
    <div class="ui center aligned container">
        <!--格子 grid是分为十六份 bootstrap是分为十二份-->
        <!--divided分割线-->
        <div class="ui inverted divided stackable grid">
            <!--配置占用多少格子-->
            <div class="three wide column">
                <!--套一个保持格式-->
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/Qr code.jpg" th:src="@{/images/Qr code.jpg}" alt="" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>

                    <div class="ui inverted link list"  th:each="blog : ${recommendBlogs}">
                        <a href="#"  th:href="@{/blog/{id}(id=${blog.id})}"  th:text="${blog.title}" class="item">用户故事(UserStory)</a>
                        <!--/*-->
                        <a href="#" class="item">用户故事(UserStory)</a>
                        <a href="#" class="item">用户故事(UserStory)</a>
                        <!--*/-->
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">QQ:179351460</a>
                    <a href="#" class="item">Email:179351460@qq.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h2 class="ui inverted header m-text-thin m-text-spaced">October</h2>
                <p class="m-text-thin m-text-spaced m-opacity-mini">When the path is long and obstructed, it will come</p>
            </div>
        </div>
        <!--分割线-->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">CopyRight © 2021-2031 Designed by CZZ</p>
    </div>
</footer>
<!--这个注释对html是注释的，对thymeleaf是非注释的-->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../static/lib/jquery-scrollTo-master/jquery.scrollTo.js"></script>
<!--/*/</th:block>/*/-->

<script th:inline="javascript">
    // 通过jquery在移动端显示和隐藏导航栏
    $(".menu.toggle").click(function (){
        $(".m-item").toggleClass("m-mobile-hide");
    });


    //平滑滚动
    $('#button-toTop').click(function () {
        $(window).scrollTo(0,500);
    });

    //滚动侦测，检测博客内容最外层的div
  /*  var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function(direction) {
            console.log(direction);
            if (direction === 'down') {
                $('#toolbar').show(500);
            } else {
                $('#toolbar').hide(500);
            }
        }
    });*/
</script>
</body>
</html>